<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n staticfiles %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praktikum CAE</title>
    <link rel="stylesheet" href="/{% static "libs/smde/simplemde.min.css" %}">
    <link rel="stylesheet" href="/{% static "libs/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="/{% static "libs/bootstrap/css/bootstrap-theme.min.css" %}">

    <link rel="stylesheet" href="/{% static "css/default.css" %}">

    <script src="/{% static "libs/jquery-3.2.1.min.js" %}"></script>
    <script src="/{% static "libs/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="/{% static "libs/toaster/jquery.toaster.js" %}"></script>
    <script src="/{% static "js/jsonhandler.js" %}"></script>


    <script>
    $(document).ready(function(){

        {% block js_ready %}
        {% endblock %}
    });
    </script>
</head>

<body >
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gruppe 1: ReSteu</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
