{% extends "Base.html" %}

{% load i18n staticfiles %}

{% block js_ready %}


    function updateData(){
        $.getJSON("/json/",
            function(data) {
                if (data.status == 'OK'){
                    window.MokaAnlage.update(data.anlage);
                    $('#ActualRecipe').first().html('');
                    if(data.recipe){
                        window.Recipe = null;
                        window.Recipe = new TRecipe($('#ActualRecipe').first(), data.recipe);
                    }
                }
        });
    }

    $.getJSON("/json/",
        function(data) {
            if (data.status == 'OK'){
                window.MokaAnlage = new TMokaAnlage($('#MokaAnlage').first(), data.anlage);
                if(data.recipe){
                    window.Recipe = new TRecipe($('#ActualRecipe').first(), data.recipe);
                }
                setInterval(updateData , 1000);
            }
    });

{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Status</h1>
    </div>
    <div class="row" id="MokaAnlage">
    </div>
    <div class="row">
        <div class="col-xs-12 " id="ActualRecipe">
            <h1>Laufende Jobs</h1>
            keine
        </div>
        <div class="col-xs-12">
            <h1>Rezepte</h1>
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th> Neues XML-Rezept hochladen </th>
                  </tr>
                </thead>
              <tbody>
                <tr>
                    <td>

                        <form action="{{ request.build_absolute_uri }}uploadRecipe/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <th>
                            <input type="file" name="file"/>
                        </th> <th>
                            <input type="submit" value="Upload File" href="{% url 'Home View' %}"/>
                    </th>
                    </form>

                    </tr>

              </tbody>
            </table>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rezeptdatei</th>
                        <th>Datum</th>
                        <th>Funktionen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipe in Recipes %}
                    <tr>
                        <td>{{recipe}}</td>
                        <td></td>
                        <td>
                            <div class="text-center topButtonGroup">
                                <div class="btn-group text-center" role="group" aria-label="...">
                                  <a class="btn btn-primary" href="#" onclick="parseRecipe('{{recipe}}')">Parsen</a>
                                  <a class="btn btn-success" href="#" onclick="startRecipe('{{recipe}}')">Start</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col-xs-12" id="Topology">
         <h1>Anlagentopologie</h1>
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th> Neue XML-Anlagentopologie hochladen </th>
                  </tr>
                </thead>
              <tbody>
                <tr>
                    <td>

                        <form action="{{ request.build_absolute_uri }}uploadTopologie/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <th>
                            <input type="file" name="file"/>
                        </th> <th>
                            <input type="submit" value="Upload File" href="{% url 'Home View' %}"/>
                    </th>
                    </form>

                    </tr>

              </tbody>
            </table>
             <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Topologiedatei</th>
                        <th>Datum</th>

                    </tr>
                </thead>
                <tbody>
                    {% for topologie in Topologies %}
                    <tr>
                        <td>{{topologie}}</td>
                        <td></td>
                        <td>
                            <div class="text-center topButtonGroup">
                                <div class="btn-group text-center" role="group" aria-label="...">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

